# Python code coverage
.coverage

# Helper files for zc.buildout
/.installed.cfg
/.mr.developer.cfg

# Uncategorized
/.cache/
/.sass-cache/
/annotations.json
/aws-ip-ranges.json
/develop/
/develop-eggs/
/downloads/
/eggs/
/extends/
/node_modules/
/ontology.json
/parts/
/production.ini
/session-secret.b64
/dist/
/build/

# Mac folders
*.DS_Store

# Python eggs
*.egg-info

# Python caching
*.pyc

# Eclipse and other editing
+.project
+.pydevproject
.idea/

# Log files
*.log

# PyEnv
.python-version

# Microsoft Office lock and backup files
~$*
.~*#

# Emacs backup files
*~
\#.*\#

# Virtualenv folders
*env/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
