dist: trusty
language: python
sudo: true
cache:
  pip: true
  directories:
  - eggs
addons:
  apt:
    packages:
    - oracle-java9-set-default
    - bsdtar
    - build-essential
    - make
    - graphviz
env:
  global:
  - JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - PATH="/usr/share/elasticsearch/bin:/usr/lib/postgresql/11/bin:$PATH"
matrix:
  include:
  - python: '3.6'
    env: UNIT=Test
before_install:
- ls -dal /usr/lib/postgresql/*/bin/postgres
- ps auxww | grep postgres
- sudo apt-get install -yq --no-install-suggests --no-install-recommends postgresql-common
- sudo service postgresql stop
- sudo apt install -yq --no-install-suggests --no-install-recommends postgresql-11 postgresql-client-11
- sudo service postgresql start 11
- sudo service postgresql stop
- sudo service postgresql status || echo "All postgresql servers are down."
- postgres --version
- initdb --version
- ls -dal /usr/lib/postgresql/*/bin/postgres
- ps auxww | grep postgres
install:
- pip install --upgrade pip==19.0.3
- pip install poetry
- pip install coveralls
- pip install codacy-coverage
- poetry install
- make moto-setup
script:
- |
  if test -n "$UNIT"; then make travis-test;
  fi
- |
  if [[ $TRAVIS_BRANCH == 'master' ]]; then
  echo 'Triggering docs build'
  curl -X POST -d "branches=master" -d "token=$DOCS_TOKEN" https://readthedocs.org/api/v2/webhook/snovault/99596/
  fi
- echo $TRAVIS_JOB_ID
- poetry run wipe-test-indices $TRAVIS_JOB_ID search-fourfront-builds-uhevxdzfcv7mkm5pj5svcri3aq.us-east-1.es.amazonaws.com:80
deploy:
  provider: script
  script: poetry publish --build --username=$PYPI_USER --password=$PYPI_PASSWORD
  on:
    tags: true
    condition: "$TRAVIS_PYTHON_VERSION == 3.6"
