[tool.poetry]
name = "dcicsnovault"
version = "2.0.0b5"
description = "Storage support for 4DN Data Portals."
authors = ["4DN-DCIC Team <support@4dnucleome.org>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/4dn-dcic/snovault"
repository = "https://github.com/4dn-dcic/snovault"
documentation = "https://github.com/4dn-dcic/snovault"
packages = [
  { include="snovault", from="." }
]
classifiers = [
    # How mature is this project? Common values are
    #   3 - Alpha
    #   4 - Beta
    #   5 - Production/Stable
    'Development Status :: 4 - Beta',

    # Indicate who your project is intended for
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Framework :: Pyramid',


    # Pick your license as you wish (should match "license" above)
    'License :: OSI Approved :: MIT License',
    'Topic :: Database :: Database Engines/Servers',

    # Specify the Python versions you support here. In particular, ensure
    # that you indicate whether you support Python 2, Python 3 or both.
    'Programming Language :: Python :: 2.7',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.5',
    'Programming Language :: Python :: 3.6'
]

[tool.poetry.dependencies]
python = ">=3.5,<3.7"
# In the following, "(*)" means "removed by pipreqs"
# aws_requests_auth = "0.4.2"
aws_requests_auth = "^0.4.1"
# pipreqs didn't seem to need this, but it might be useful.
awscli = "^1.15.42"
# is this next one even needed? maybe not now that we're in python 3.
"backports.statistics" = "0.1.0"
# bcrypt = "^3.1.0" (*)
boto3 = "^1.7.42"
# botocore = "^1.10.42" (*)
# certifi = ">=2018.4.16" (*)
# cffi = "^1.6.0" (*)
# chardet = "3.0.4" (*)
# colorama = "^0.3.3" (*)
# coverage = "^4.0.3" (*)
# cryptacular = "1.5.5"
cryptacular = "^1.4.1"
# dcicutils = "0.8.5"
dcicutils = "0.9.3b0"
# docutils = "0.12" (*)
# elasticsearch_dsl = "7.1.0"
elasticsearch_dsl = "^5.3.0"
# elasticsearch-dsl = "5.3.0" (*)
# flaky = "3.6.1" (*)
# future = "0.18.2"
future = "^0.15.2"
# html5lib = "1.0b8" (*)
# humanfriendly = "^1.44.5" (*)
# hupper = "^1.4.2" (*)
# idna = "2.7" (*)
# isodate = "0.5.4" (*)
# jmespath = "0.9.0" (*)
jsonschema_serialize_fork = "2.1.1"
keepalive = "0.5"
# loremipsum = "1.0.5" (*)
# MarkupSafe = "0.23" (*)
# # mr.developer = "1.38"
# # mr.developer = ""
# "mr.developer" = "1.38" (*)
# netaddr = "0.7.19"
netaddr = ">=0.7.18,<1"
# passlib = "1.7.2"
passlib = "^1.6.5"
# PasteDeploy = "1.5.2" (*)
# Pillow = "7.0.0"
Pillow = "^3.1.1"
# plaster = "1.0" (*)
# plaster-pastedeploy = "0.6" (*)
# psutil = "5.6.7"
psutil = ">=4.3.0,<5"
# psycopg2 = "2.8.4"
psycopg2 = "^2.7.3"
# py = "1.4.31" (*)
# pyasn1 = "0.1.9" (*)
# PyBrowserID = "^0.10.0" (*)
# pycparser = "2.14" (*)
# pyparsing = "^2.1.1" (*)
pyramid = "1.10.4"
pyramid_localroles = ">=0.1,<1"
pyramid-multiauth = ">=0.8.0,<1"
pyramid-retry = "^1.0"
pyramid-tm = "^2.2.1"
pyramid-translogger = "^0.1"
# pytest moved to dev
## pytest = "5.3.5"
#pytest = "^2.9.1"
## not sure what version to default to
#pytest-cov = "^2.2.1"
#pytest-exact-fixtures = ">=0.1,<1"
#pytest-instafail = "^0.3.0"
#pytest-mock = ">=0.11.0,<1"
#pytest-runner = "^4.0"
#pytest-timeout = "^1.0.0"
python-dateutil = "^2.5.3"
python_magic = ">=0.4.11,<1"
pytz = ">=2016.4"
# PyYAML = "5.3"
PyYAML = "^3.12"
# rdflib = "4.2.2"
rdflib = "^4.2.2"
rdflib-jsonld = ">=0.3.0,<1.0.0"
# repoze moved to dev
# # https://github.com/python-poetry/poetry/pull/115
# "repoze.debug" = "^1.0.2"
# "repoze.lru" = "^0.6"
# requests = "^2.20.0"
# rfc3987 = "^1.3.6" (*)
# rsa = "^3.4.2" (*)
# rutter = "0.2" (*)
# s3transfer = "0.1.13" (*)
# setuptools = "^36.6.0" (*)
simplejson = "3.17.0"
# six = "1.14.0" (*)
# SQLAlchemy = "1.3.13"
SQLAlchemy = "^1.2.16"
# strict-rfc3339 = "0.7" (*)
# structlog = "20.1.0"
structlog = ">=18.1.0,<20"
# subprocess32 = "3.5.4" (*)
subprocess_middleware = ">=0.3,<1"
# transaction = "3.0.0"
transaction = "^2.4.0"
# translationstring = "1.3" (*)
# urllib3 = "1.25.8"
# venusian = "3.0.0"
venusian = "^1.2.0"
# WebOb = "1.8.6"
WebOb = "^1.8.5"
# WebTest = "2.0.34"
WebTest = "^2.0.21"
WSGIProxy2 = "0.4.2"
zope = "^4.2.1"
# xlrd = "1.0.0" (*)
# zc.buildout = "^2.13.2"
# zc.recipe.egg = "^2.0.5"
"zope.deprecation" = "^4.4.0"
"zope.interface" = "^4.6.0"
"zope.sqlalchemy" = "^1.2"

[tool.poetry.dev-dependencies]
# coverage = "4.5.4"
coverage = ""
# flake8 = "3.7.8"
flake8 = ""
flaky = "3.6.1"
# pytest = "5.3.5"
pytest = "^2.7.1"
# pytest-cov = "^2.7.1"
pytest-cov = "^2.2.1"
pytest-exact-fixtures = ">=0.1,<1"
pytest-instafail = "^0.3.0"
# pytest-mock = "1.10.4"
pytest-mock = ">=0.11.0,<1"
# pytest-runner = "5.1"
pytest-runner = "^4.0"
pytest-timeout = "^1.0.0"
"repoze.debug" = "^1.0.2"
"repoze.lru" = "^0.6"
responses = "^0"

[tool.poetry.scripts]
wipe-test-indices = "snovault.commands.wipe_test_indices:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "^poetry.masonry.api"
